{{ define "content" }}

<div class="outer">
  <div class="inner-medium">

    <article class="post post-full">
      <header class="post-header">
        <h1 class="post-title">{{ .Params.title }}</h1>
      </header><!-- .post-header -->
      {{ if .Params.img_path }}
      <div class="post-thumbnail">
        <img src="{{ .Params.img_path | relURL }}" alt="{{ .Params.title }}" />
      </div><!-- .post-thumbnail -->
      {{ end }}
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ .Params.subtitle | safeHTML }}
      </div><!-- .post-subtitle -->
      {{ end }}
      <div class="post-content">
        {{ .Content }}
      </div><!-- .post-content -->
      <div id='wufoo-zy4x5080euhtqi'>
      Fill out my <a href='http://wellinformed.wufoo.com/forms/zy4x5080euhtqi'>online form</a>.
      </div>
      <script type='text/javascript'>var zy4x5080euhtqi;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName'      : 'wellinformed',    
      'formHash'      : 'zy4x5080euhtqi',    
      'autoResize'    :  true,   
      'height'        : '1178',      
      'async'         :  true,          
      'header'        : 'hide',      
      'host'          : 'wufoo.com',    
      'entSource'     : 'wordpress',   
      'defaultValues' : ''     
      ,'ssl'          :  true           };
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { zy4x5080euhtqi = new WufooForm();zy4x5080euhtqi.initialize(options);zy4x5080euhtqi.display(); } catch (e) {}}
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script> <noscript> <iframe height="1178" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none;"src="https://wellinformed.wufoo.com/embed/zy4x5080euhtqi/def/entsource=wordpress"><a href="https://wellinformed.wufoo.com/forms/zy4x5080euhtqi/def/entsource=wordpress" rel="nofollow">Fill out my Wufoo form!</a></iframe> </noscript>
      
    </article><!-- .post -->

  </div><!-- .inner-medium -->
</div><!-- .outer-->

{{ end }}
