{{ define "content" }}

<div class="outer">
  <div class="inner-medium">

    <article class="post post-full">
      <header class="post-header">
        <h1 class="post-title">{{ .Params.title }}</h1>
      </header><!-- .post-header -->
      {{ if .Params.img_path }}
      <div class="post-thumbnail">
        <img src="{{ .Params.img_path | relURL }}" alt="{{ .Params.title }}" />
      </div><!-- .post-thumbnail -->
      {{ end }}
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ .Params.subtitle | safeHTML }}
      </div><!-- .post-subtitle -->
      {{ end }}
      <div class="post-content">
        {{ .Content }}
      </div><!-- .post-content -->
      <iframe class="airtable-embed" src="https://airtable.com/embed/shrFdFdKk6YVvxj2t?backgroundColor=orange&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="1400" style="background: transparent; border: 1px solid #ccc;"></iframe>
      
    </article><!-- .post -->

  </div><!-- .inner-medium -->
</div><!-- .outer-->

{{ end }}
